@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');

body {
	font-family: 'Noto Sans JP', sans-serif;
	margin: 0;
	width: 100%;
	background-color: #fdfdfd;
}


.navbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	position: sticky;
	top: 0;
}

.profil h1 {
	margin-left: 10px;
	font-size: 15px;
    font-style: italic;
	margin-right: 50%;
}

.tabs {
	display: flex;
	list-style-type: none;
} 


.tabs li {
	margin-left: 20px;
	cursor: pointer;
	border-bottom: 1px solid rgb(212, 211, 211);
	display: flex;
	align-items:baseline ;
}

.tabs a{
	text-decoration: none;
	color: #000;
}

.navbar ul li:hover {
	border-bottom-color: #000;
}

.tab-content{
	display: none;
}

.tab-content.active{
	display: block;
}


.aboutme {
	margin-top: 8%;
	margin-bottom: 6%;
	max-width: 95%;
}
.aboutme h1{
	text-align: end;
	margin-left: 70%;
}
.aboutme h2{
	text-align: end;
	margin-left: 75%;
}
.aboutme p{
	text-align: justify;
	margin-left: 75%;
}

.real {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 3vw;
	margin-bottom: 50px;
	margin-left: 5%;
	display: flex;
	justify-content: left;
}


.dates {
	font-size: 13px;
	color: white;
}


footer {
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
	background-color: #000;
	color: white;
}
footer .colonne p {
	font-size: 12px;
	color: #ccc;
}

footer a{
	text-decoration: none;
	color: #fdfdfd;
}

.colonne{
	display: flex;
	flex-direction: column;
}

/*@media screen and (max-width: 700px) {
	nav {
		justify-content: center;
	}
	nav ul {
		display: none;
	}

	.page-content header {
		margin-top: 10%;
		max-width: 100%;
	}
	.page-content .projects-section {
		margin-top: 15%;
	}
	.page-content .projects-section h1 {
		font-size: 1.5em;
	}
	.page-content .projects-section .project {
		margin-right: 0;
		margin-bottom: 20px;
		max-width: 100%;
	}
	.page-content .projects-section .project .description {
		font-size: 13px;
	}

	footer {
		justify-content: flex-start;
	}
	footer .column {
		width: 80%;
	}
}*/
